@charset "UTF-8";
/* Units implementation */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #FFFFFF;
  color: #0F0F0F;
  margin: 0;
  cursor: crosshair;
  overflow-x: hidden;
}

figure,
article,
section {
  margin: 0;
}

.main--padding {
  background-color: pink;
  padding: 8rem 2rem;
}
@media all and (min-width: 48rem) {
  .main--padding {
    padding: 8rem 4rem;
  }
}
@media all and (min-width: 90rem) {
  .main--padding {
    padding: 8rem;
    background-color: rgb(237, 177, 177);
  }
}
@media all and (min-width: 120rem) {
  .main--padding {
    padding: 8rem 10rem;
    background-color: olivedrab;
  }
}

.hero--padding {
  background-color: lightcoral;
  padding: 4rem 2rem;
}
@media all and (max-width: 1440px) and (min-width: 768px) {
  .hero--padding {
    padding: 4rem;
  }
}
@media all and (min-width: 90rem) {
  .hero--padding {
    padding: 8rem;
    background-color: red;
  }
}
@media all and (min-width: 120rem) {
  .hero--padding {
    padding: 8rem 10rem;
    background-color: olivedrab;
  }
}

.padding-top--topbar-fix {
  padding-top: 5.9rem;
}
@media all and (min-width: 48rem) {
  .padding-top--topbar-fix {
    padding-top: 7.5rem;
  }
}

a {
  text-decoration: none;
  color: #0F0F0F;
}

a:visited {
  color: #0F0F0F;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #E5E1DB;
  border-bottom: 2px #0F0F0F solid;
  list-style: none;
  text-transform: uppercase;
  border-bottom: 2px #0F0F0F solid;
  font-size: 1.6rem;
}

.topbar--mobile {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 2rem;
}
.topbar--mobile__menu {
  font-size: 1.6rem;
  border: none;
  padding: 0;
}
.topbar--mobile__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.topbar--mobile__cart {
  background-color: yellow;
}
.topbar--mobile__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00FF40;
  opacity: 0.95;
  color: #0F0F0F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  padding: 2.8rem 0;
  margin-left: -2rem;
  position: absolute;
  inset: 0 0 auto 0;
  width: 100%;
  height: 80vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.topbar--mobile__nav__item {
  padding: 3.2rem 0;
  font-size: 4rem;
  font-weight: 300;
}
.topbar--mobile__nav__item:hover {
  font-style: italic;
  font-weight: 700;
}
@media all and (min-width: 48rem) {
  .topbar--mobile {
    display: none;
  }
}

.topbar--desktop {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.6rem 4rem;
}
.topbar--desktop__nav {
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topbar--desktop__nav__item {
  padding: 0 2.4rem;
}
@media all and (min-width: 90rem) {
  .topbar--desktop {
    padding: 1.6rem 8rem;
    background-color: red;
  }
}
@media all and (min-width: 120rem) {
  .topbar--desktop {
    padding: 1.6rem 10rem;
    background-color: blue;
  }
}
@media all and (max-width: 767px) {
  .topbar--desktop {
    display: none;
  }
}

.jsHide {
  left: -100%;
}

.hero__bg-img {
  background-image: url("https://placekitten.com/200/300");
  background-color: #FFFFFF;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.img--full-width {
  background-color: #FFFFFF;
  width: 100vw;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 48rem) {
  .img--full-width {
    height: 75vh;
  }
}

.content-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
.h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 3.6rem;
  padding-bottom: 1.6rem;
}
@media all and (min-width: 90rem) {
  h1,
.h1 {
    font-size: 4.4rem;
  }
}
@media all and (min-width: 120rem) {
  h1,
.h1 {
    font-size: 5.2rem;
  }
}

h2,
.h2 {
  font-family: "Epilogue", sans-serif;
  font-size: 3.6rem;
  padding-bottom: 1.6rem;
}
@media all and (min-width: 48rem) {
  h2,
.h2 {
    font-size: 2.8rem;
  }
}
@media all and (min-width: 90rem) {
  h2,
.h2 {
    font-size: 3.6rem;
  }
}
@media all and (min-width: 120rem) {
  h2,
.h2 {
    font-size: 4.4rem;
  }
}

p {
  margin: 0;
}

.main--p {
  font-size: 2rem;
  padding-bottom: 4rem;
}
@media all and (min-width: 90rem) {
  .main--p {
    padding-bottom: 0;
  }
}

.font-family--secondary {
  font-family: "JetBrains Mono", monospace;
  font-style: italic;
  font-weight: 800;
}

.hero__title {
  font-family: "Epilogue", sans-serif;
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.hero__subtitle {
  font-size: 2.8rem;
  font-weight: 300;
}

.hero__text {
  font-family: "Epilogue", sans-serif;
  font-size: 2.8rem;
  line-height: 140%;
}
@media all and (min-width: 90rem) {
  .hero__text {
    font-size: 3.6rem;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance;
  }
}
@media all and (min-width: 120rem) {
  .hero__text {
    font-size: 4.4rem;
  }
}

.color--beige {
  color: #E5E1DB;
}
.color--beige:visited {
  color: #E5E1DB;
}

.color--green {
  color: #00FF40;
}

.text-transform--initial {
  text-transform: initial;
}

.font-size-small {
  font-size: 1.6rem;
}

.boder-bottom--solid {
  border: 0.2rem solid #E5E1DB;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

@media all and (min-width: 90rem) {
  .text-half-screen {
    width: 50vw;
  }
}

button,
.btn {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1.2rem 10rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  font-family: "JetBrains Mono", monospace;
}

.btn--color-black {
  border: solid 0.2rem #0F0F0F;
}
.btn--color-black:visited {
  color: currentColor;
}
.btn--color-black:hover {
  background-color: #0F0F0F;
  color: #E5E1DB;
}

.btn--color-beige {
  font-family: "JetBrains Mono", monospace;
  color: #E5E1DB;
  border: solid 0.2rem #E5E1DB;
  background-color: transparent;
}
.btn--color-beige:visited {
  color: currentColor;
}
.btn--color-beige:hover {
  background-color: #E5E1DB;
  color: #0F0F0F;
}

.btn--add-to-cart {
  border: none;
  background-color: #EFFF3D;
}
.btn--add-to-cart:visited {
  color: currentColor;
}
.btn--add-to-cart:hover {
  border: none;
  background-color: #0F0F0F;
  color: #E5E1DB;
}

.btn--link:hover {
  font-style: italic;
}
.btn--link:visited {
  color: currentColor;
}

@media all and (min-width: 48rem) {
  .btn-half-screen {
    width: 40vw;
  }
}

[disabled] {
  color: #81796E;
  border: #81796E 2px solid;
}
[disabled]:hover {
  background-color: transparent;
  color: #81796E;
}

.products__item ~ .products__item {
  margin-top: 8rem;
}
@media all and (min-width: 48rem) {
  .products__item ~ .products__item {
    margin-top: 0;
  }
}

.products__item__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-bottom: 2rem;
}
@media all and (min-width: 48rem) {
  .products__item__img {
    height: 68rem;
  }
}

@media all and (min-width: 48rem) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.4rem;
  }
}
@media all and (min-width: 90rem) {
  .products {
    width: 100%;
  }
}
.products__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products__denomination {
  font-family: "Epilogue", sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 90rem) {
  .display--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 90rem) {
  .content--half {
    width: 50%;
  }
}

.centered-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  background-color: #0F0F0F;
  color: #E5E1DB;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
@media all and (min-width: 48rem) {
  .footer__logo {
    max-width: 6rem;
    max-height: 4rem;
  }
}

.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  padding: 8rem 2rem;
}
@media all and (min-width: 48rem) {
  .footer__element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    padding: 2rem 4rem;
  }
}
@media all and (min-width: 90rem) {
  .footer__element {
    padding: 2rem 8rem;
  }
}
@media all and (min-width: 90rem) {
  .footer__element {
    padding: 2rem 10rem;
  }
}

.footer__element--variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  padding: 8rem 2rem;
}
@media all and (min-width: 48rem) {
  .footer__element--variation {
    padding: 4rem;
  }
}
@media all and (min-width: 90rem) {
  .footer__element--variation {
    padding: 4rem 8rem;
  }
}
@media all and (min-width: 90rem) {
  .footer__element--variation {
    padding: 6rem 10rem;
  }
}

@media all and (min-width: 48rem) {
  .footer__input-button {
    display: inline-block;
  }
}

.footer__newsletter [type=email] {
  color: #E5E1DB;
  background: none;
  border: 2px solid #E5E1DB;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  padding: 1.4rem 0;
  width: 100%;
}
.footer__newsletter [type=email]:focus {
  background-color: transparent;
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
  outline: none;
}
.footer__newsletter [type=email]::-webkit-input-placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.footer__newsletter [type=email]::-moz-placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.footer__newsletter [type=email]:-ms-input-placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.footer__newsletter [type=email]::-ms-input-placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.footer__newsletter [type=email]::placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.footer__newsletter [type=email]:-ms-input-placeholder {
  color: #E5E1DB;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
@media all and (min-width: 48rem) {
  .footer__newsletter [type=email] {
    width: 45%;
    margin-right: 4rem;
  }
}

.contact-form [type=email],
.contact-form [type=text] {
  color: #0F0F0F;
  background: none;
  border: 2px solid #0F0F0F;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 0rem;
  margin-bottom: 2.8rem;
  padding: 1.4rem 0;
  width: 100%;
}
.contact-form [type=email]:focus,
.contact-form [type=text]:focus {
  background-color: transparent;
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
  outline: none;
}
.contact-form [type=email]::-webkit-input-placeholder, .contact-form [type=text]::-webkit-input-placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.contact-form [type=email]::-moz-placeholder, .contact-form [type=text]::-moz-placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.contact-form [type=email]:-ms-input-placeholder, .contact-form [type=text]:-ms-input-placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.contact-form [type=email]::-ms-input-placeholder, .contact-form [type=text]::-ms-input-placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.contact-form [type=email]::placeholder,
.contact-form [type=text]::placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
.contact-form [type=email]:-ms-input-placeholder,
.contact-form [type=text]:-ms-input-placeholder {
  color: #0F0F0F;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}
@media all and (min-width: 90rem) {
  .contact-form [type=email],
.contact-form [type=text] {
    padding-top: 4rem;
  }
}

.contact-form [placeholder="¿QUÉ NOS CUENTAS?"] {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

@media all and (min-width: 48rem) {
  .contact-form__name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
  }
}