@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}


a {
  margin: 0;
}

// General styles applied to all buttons
button,
.btn {
  text-transform: uppercase;
  font-size: $font-size-lowermedium;
  padding: 1.2rem 0;
  width: 100%;
  border: none;
  color: currentColor;

  background-color: transparent;
  font-family: $font-secondary;

  transition: 0.3s ease-in-out;

  @include mq($bp-lowermedium) {
    width: auto;
    padding: 1.2rem 4rem;
  }
}

.btn--color-black {
  border: solid 0.2rem $color-black;
  color: $color-black;

  &:visited {
    color: currentColor;
  }

  &:hover {
    background-color: $color-bg-black;
    color: $color-beige;
  }


  &--small {
    border: solid 0.2rem $color-black;
    color: $color-black;
    padding: 1.2rem 4rem;
    width: auto;

    &:hover {
      background-color: $color-bg-black;
      color: $color-beige;
    }

    &--selected {
      border: none;
      background-color: $color-bg-black;
      color: $color-beige;
      //revisar si aixo es aixinaaaaaa
    }
  
  }
}

.btn--color-beige {
  font-family: $font-secondary;
  color: $color-beige;
  border: solid 0.2rem $color-beige;
  background-color: transparent;

  &:visited {
    color: currentColor;
  }

  &:hover {
    background-color: $color-bg-beige;
    color: $color-black;
  }
}

// Styles of button Add to cart
.btn--add-to-cart {
  border: none;
  background-color: $color-bg-yellow;
  border: solid 0.2rem $color-yellow;

  &:visited {
    color: $color-black;
  }

  &:hover {
    border: none;
    background-color: $color-bg-black;
    border: solid 0.2rem $color-black;
    color: $color-beige;
  }
}

//Styles for buttons in the Product page

// links that look like text
.btn--link {
  &:hover {
    font-style: italic;
  }

  &:visited {
    color: currentColor;
  }
}

.btn-half-screen {
  @include mq($bp-medium) {
    //min width 768px
    width: 40vw;
  }
}

[disabled] {
  color: $color-brown;
  border: $color-brown 2px solid;

  &:hover {
    background-color: transparent;
    color: $color-brown;
  }
}


.link--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  
}