@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

.footer {
    background-color: $color-bg-black;
    color: $color-beige;
    text-align: center;
    font-size: $font-size-lowermedium;
    text-transform: uppercase;

    @include mq($bp-medium) {
        //min width 768px
        &__logo {
            max-width: 6rem;
            max-height: 4rem;
        }
    }
}


.footer__element {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    padding: 8rem 2rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: $color-beige;

    @include mq($bp-medium) {
        //min width 768px
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 0;

        padding: 2rem 4rem;
    }

    @include mq($bp-large) {
        //min width 1440
        padding: 2rem 8rem;
    }

    @include mq($bp-large) {
        //min width 1920
        padding: 2rem 10rem;
    }

    &__item {
        font-size: 2rem;
        list-style: none;

        & > a {
            color: $color-beige;
        }

        & > a:hover {
            font-style: italic;
        }

        &--small > a {
            color: $color-beige;
            font-size: $font-size-small;
        }

        &--small > a:hover {
            font-style: italic;
        }
    }

    & &__item {
        padding-bottom: 2rem;

        @include mq($bp-medium) {
            padding-bottom: 0;
        }


    }
}



.footer__element--variation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;

    padding: 8rem 2rem;

    @include mq($bp-medium) {
        //min width 768px
        padding: 4rem;
    }

    @include mq($bp-large) {
        //min width 1440
        padding: 4rem 8rem;
    }

    @include mq($bp-large) {
        //min width 1920
        padding: 6rem 10rem;
    }

}


.footer__input-button {

    @include mq($bp-medium) {
        //min width 768px
        display: inline-block;
         
    }

}

