@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}


h1,
.h1 {
  font-family: $font-primary;
  font-size: $font-size-uppermedium;
  padding-bottom: 2rem;

  @include mq($bp-large) {
    font-size: $font-size-large;
  }

  @include mq($bp-xlarge) {
    font-size: $font-size-xlarge;
  }

  
}

h2,
.h2 {
  font-family: $font-primary;
  font-size: $font-size-uppermedium;
  padding-bottom: 1.6rem;

  @include mq($bp-medium) {
    font-size: $font-size-medium;
  }

  @include mq($bp-large) {
    font-size: $font-size-uppermedium;
  }

  @include mq($bp-xlarge) {
    font-size: $font-size-large;
  }
}

h3,
.h3 {
  font-size: $font-size-lowermedium;
}
