@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

figure,
article, 
section {
    margin: 0;
}

.main--padding {
    padding: 4rem 2rem 8rem;

    @include mq($bp-medium) {
        //min width 768px
        padding: 8rem 4rem;
    }

    @include mq($bp-large) {
        //min width 1440
        padding: 8rem;
    }

    @include mq($bp-xlarge) {
        //min width 1920
        padding: 8rem 10rem;
    }
}

.hero--padding {
    padding: 4rem 2rem 8rem;

    @media all and (max-width: 1440px) and (min-width: 768px) {
        padding: 4rem 4rem;
    }
    
    @include mq($bp-large) {
        //min width 1440
        padding: 8rem 8rem;
    }

    @include mq($bp-xlarge) {
        //min width 1920
        padding: 8rem 10rem;
    }
}



// Padding to compensate a fixed topbar
.body--padding-top {
    padding-top: 5.9rem;

    @include mq($bp-medium) {
        //min width 768
        padding-top: 7.5rem;
    }
}

