// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-medium: 48rem; // 768px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px

@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

figure,
article, 
section {
    margin: 0;
}

.main--padding {
    background-color: pink;
    padding: 8rem 2rem;

    @include mq($bp-medium) {
        //min width 768px
        padding: 8rem 4rem;
    }

    @include mq($bp-large) {
        //min width 1440
        padding: 8rem;
        background-color: red;
    }

    @include mq($bp-xlarge) {
        //min width 1920
        padding: 8rem 10rem;
        background-color: olivedrab;
    }
}

.hero--padding {
    background-color: lightcoral;
    padding: 4rem 2rem;

    @media all and (max-width: 1440px) and (min-width: 768px) {
        padding: 4rem;
    }
    
    @include mq($bp-large) {
        //min width 1440
        padding: 8rem;
        background-color: red;
    }

    @include mq($bp-xlarge) {
        //min width 1920
        padding: 8rem 10rem;
        background-color: olivedrab;
    }
}

