// Mediaqueries
$bp-small: 24rem; // 384px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px

@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}


.catalogue {
  display: grid;
  grid-template-columns: 100%;

  @include mq($bp-medium) {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 6rem;
  
}
  
  @include mq($bp-large) {
    grid-template-columns: repeat(3, 1fr);
    
  }
}



.catalogue--frontpage {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 8rem;
  
  @include mq($bp-medium) {
    //min width 768px
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    margin-bottom: 6rem;

  }

}


// NOU
.catalogue--related-products {
  display: none;

  @include mq($bp-medium) {
    //min width 768px
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    margin-bottom: 6rem;

  }
}


// FINAL NOU

.catalogue__item__img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 1.6rem;
  

  @include mq($bp-medium) {
    height: 68rem;
    margin-bottom: 2rem;
  }
}

.catalogue__name-price {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.catalogue__item ~ .catalogue__item {
  margin-top: 6rem;

  @include mq($bp-medium) {
    margin-top: 0;
  }
}



// Item discount

.catalogue__item {
  position: relative;
}


.catalogue__item__marker {
  font-family: $font-primary;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: $color-bg-green;
  position: absolute;
  padding: 1.2rem 1.6rem 0.8rem;
  right: 2rem;
  top: 2rem;
}

// Product detail content

.product-detail {
  display: grid;
  grid-template-columns: 1fr;
  //column-gap: 2rem;
  padding: 4rem 2rem 8rem;

  @include mq($bp-medium) {
    padding: 4rem 4rem 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.8rem;
  }

  @include mq($bp-large) {
    padding: 8rem 8rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 3.6rem;
  }

  @include mq($bp-xlarge) {
    padding: 8rem 10rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 4.8rem;
  }

  &__img-slider {

    @include mq($bp-medium) {
      display: none;
      }
    }

  &__imgs {

    display: none;

    @include mq($bp-medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;
    }

    &__item {
      background-color: $color-white;
      height: 70vh;
      width: 100%;
      object-fit: cover;
      margin-bottom: 2rem;
    
      @include mq($bp-medium) {
          //max-width: 200px;
      } 
    }
  }

  &--modify-paddings {
    // Removeing padding on top of second grid in product page
    padding-top: 0;
    padding-bottom: 6rem;

    @include mq($bp-large) {
      padding-bottom: 8rem;
    }
  }

}







// Specs in accordion

.specs {
  padding-top: 8rem;

  @include mq($bp-medium) {
    padding-top: 0;
}

  &__accordion {
    border: none;
    border-bottom: 2px solid $color-black;
    border-radius: 0;
    color: $color-black;
    font-size: 2rem;
    
    padding: 0 0 0.4rem;
    width: 100%;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    border-bottom: 2px solid $color-black;
    font-size: 1.6rem;
    padding: 1.6rem 0 2rem;
    display: none;
    overflow: hidden;
  }

  &__cta {
    padding-top: 16rem;
    padding-bottom: 4rem;
  
  }

  &__accordion ~ &__accordion {
    padding-top: 2rem;
  }
}


.active-accordion {
  border-bottom: none;
}


