@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}


.catalogue {
  display: grid;
  grid-template-columns: 100%;

  @include mq($bp-medium) {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 6rem;
  
}
  
  @include mq($bp-large) {
    grid-template-columns: repeat(3, 1fr);
    
  }
}


.catalogue--frontpage {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 8rem;
  
  @include mq($bp-medium) {
    //min width 768px
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    margin-bottom: 6rem;

  }

}


.catalogue--related-products {
  // clar for wp fix
  display: none;

  @include mq($bp-medium) {
    //min width 768px
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    margin-bottom: 6rem;

  }
}


.catalogue__item__img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 1.6rem;
  

  @include mq($bp-medium) {
    height: 68rem;
    margin-bottom: 2rem;
  }
}

.catalogue__name-price {
  font-weight: $font-weight-bold;
  font-size: $font-size-lowermedium;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.catalogue__item ~ .catalogue__item {
  margin-top: 6rem;

  @include mq($bp-medium) {
    margin-top: 0;
  }
}



// Item discount

.catalogue__item {
  position: relative;
}


.catalogue__item__marker {
  font-family: $font-primary;
  font-size: $font-size-lowermedium;
  text-transform: uppercase;
  background-color: $color-bg-green;
  position: absolute;
  padding: 1.2rem 1.6rem 0.8rem;
  right: 2rem;
  top: 2rem;
}

// Product detail content

.product-detail {
  display: grid;
  grid-template-columns: 1fr;
  //column-gap: 2rem;
  padding: 4rem 2rem 8rem;

  @include mq($bp-medium) {
    padding: 4rem 4rem 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.8rem;
  }

  @include mq($bp-large) {
    padding: 8rem 8rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 3.6rem;
  }

  @include mq($bp-xlarge) {
    padding: 8rem 10rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 4.8rem;
  }

  &__img-slider {
    padding-bottom: 4rem;

    @include mq($bp-medium) {
      display: none;
      padding-bottom: 0;
      }
    }

  &__description {
      font-size: $font-size-lowermedium;
      font-weight: $font-weight-light;
      padding-bottom: 4rem;
    }

  &__imgs {

    display: none;

    @include mq($bp-medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;
    }

    &__item {
      background-color: $color-white;
      height: 70vh;
      width: 100%;
      object-fit: cover;
      margin-bottom: 2rem;
    
      @include mq($bp-medium) {
          //max-width: 200px;
      } 
    }
  }



  &--modify-paddings {
    // Removeing padding on top of second grid in product page
    padding-top: 0;
    padding-bottom: 6rem;

    @include mq($bp-large) {
      padding-bottom: 8rem;
    }
  }
}



// Specs in accordion

.specs {
  padding-top: 8rem;

  @include mq($bp-medium) {
    padding-top: 0;
}

  &__accordion {
    border: none;
    border-bottom: 2px solid $color-black;
    border-radius: 0;
    color: $color-black;
    font-size: $font-size-lowermedium;
    
    padding: 0 0 0.4rem;
    width: 100%;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    border-bottom: 2px solid $color-black;
    font-size: $font-size-small;
    padding: 1.6rem 0 2rem;
    display: none;
    overflow: hidden;
  }

  &__cta {
    padding-top: 16rem;
    padding-bottom: 4rem;
  
  }

  &__accordion ~ &__accordion {
    padding-top: 2rem;
  }
}


.active-accordion {
  border-bottom: none;
}






// STYLES TO FIX WORDPRESS CLASSES

/* PRODUCTO */

.product-main-images {
  /* clase imagen ACF */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  & > img {
    /* imagenes dentro de la clase */
    background-color: #FFFFFF;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    padding-bottom: 2rem;

  }

}

.woocommerce div.product .product_title {
  /* H1 del producto */
  padding: 4rem 0 2rem;

  @include mq($bp-medium) {
    padding: 0 0 2rem;
  }
}

.woocommerce-product-details__short-description > p {
  /* P descripción */
  font-family: $font-secondary;
  font-size: $font-size-lowermedium;
  font-weight: $font-weight-light;

  &  ~ .price {
    /* Precio */
    padding: 4rem 0;
  }
}

.input-text {
  /* Elimina campo de num de productos */
  display: none;
}

form.cart {
  /* Margen superior al btn */
  margin-top: 4rem;

}


.woocommerce div.product div.summary, 
.div.product div.summary  {
  /* Evita movimiento summary */
  float: none;
  width: 100%;
}



.product-gallery {
  /* Galeria de imagenes pintadas con acf */
  list-style: none;
  padding: 0 0 4rem;
  margin-top: 0;

  &__item + &__item {
    padding-top: 2rem;
  }
}



.type-product {
  /* Añade grid a fotos y summary, afecta también a la parte inferior */
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem 2rem 8rem;

  @include mq($bp-medium) {
    padding: 4rem 4rem 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.8rem;
  }

  @include mq($bp-large) {
    padding: 8rem 8rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 3.6rem;
  }

  @include mq($bp-xlarge) {
    padding: 8rem 10rem 0;
    grid-template-columns: 5fr 3fr;
    column-gap: 4.8rem;
  }
}

/* Productos relacionados en producto */

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: $font-size-lowermedium;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title + .price {
  font-size: $font-size-lowermedium;
  font-family: $font-primary;
  color: $color-black;

}



/* CATÁLOGO */

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
  float: none;
  width: 100%;
}

.columns-4 > .type-product {
  grid-template-columns: none;
}

.woocommerce ul.products[class*=columns-] li.product, 
.woocommerce-page ul.products[class*=columns-] li.product {
  float: none;
  width: 100%;
}

.woocommerce .products ul::after, 
.woocommerce .products ul::before, 
.woocommerce ul.products::after, 
.woocommerce ul.products::before {
  display: none;
}


.woocommerce .products ul,
.woocommerce ul.products {
  display: grid;
  grid-template-columns: 1fr;

  @include mq($bp-medium) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }
 }



