
// Colors
$color-white: #FFFFFF;
$color-beige: #E5E1DB;
$color-yellow: #EFFF3D;
$color-green: #00FF40;
$color-brown: #81796E;
$color-black: #0F0F0F;

//Color implementation
$color-bg-white: $color-white;
$color-bg-beige: $color-beige;
$color-bg-yellow: $color-yellow;
$color-bg-green: $color-green;
$color-bg-black: $color-black;

// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px


//Units
$unit-base: 0.4rem;

//Unit implementation in text
$font-size-small: calc($unit-base * 4);

//Viewports
$vw-100: 100vw;
$vh-100: 100vh;
$vw-50: 50vw;
$vh-50: 50vh;


//Units implementation in margins and paddings



    /* Units implementation */
   // --unit-sm: calc(.5 * var(--unit-base)); // 1.5
   // --unit-md: calc(2 * var(--unit-base)); // 6
  //  --unit-lg: calc(3 * var(--unit-base)); // 9
  //  --unit-xl: calc(4 * var(--unit-base)); // 12
//--unit-xxl:calc(5 * var(--unit-base)); // 15
  //  --unit-xxxl: calc(6 * var(--unit-base)); // 18




// Fronts
$font-primary: 'Epilogue', sans-serif;
$font-secondary: 'JetBrains Mono', monospace;



