html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: $color-bg-white;
    color: $color-black;
    margin: 0;
    cursor: crosshair;
}
