// Mediaqueries
$bp-small: 24rem; // 384px
$bp-medium: 768px;
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px

@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}


.display--flex {

  @include mq($bp-large) {
    display: flex;
    align-items: center;
    
    


  }

}


.content--half {

  @include mq($bp-large) {
    width: 50%;
  }
}

.centered-link {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;


  
}