@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

// revisar estos colores de abajo
a {
    text-decoration: none;
    color: $color-black;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar {
    background-color: $color-beige;
    border: none;
    border-bottom: 2px solid $color-black;
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__left {
        display: flex;
        align-items: center;
        width: calc(50% + 2.8rem);
        justify-content: space-between;

        @include mq($bp-medium) {
            flex-direction: row-reverse;
            width: calc(50% + (35.2844rem / 2));
        }

        &__input {
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-family: $font-secondary;
            font-size: 1.6rem;

            margin-left: 2rem;
            height: 2rem;

            @include mq($bp-medium) {
                display: none;
            }
        }

        &__logo {

            @include mq($bp-medium) {
                margin-left: 2rem;
            }
        }

        &__nav {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;
            background-color: $color-green;
            opacity: 0.95;
            color: $color-black;
            justify-content: center;
            align-items: center;

            position: absolute;
            inset: 0 0 auto 0;
            width: 100vw;
            height: 100vh;

            @include mq($bp-medium) {
                flex-direction: row;
                background-color: $color-beige;
                position: static;
                inset: auto;
                width: auto;
                height: auto;
            }
        }
    }

    &__right {

        &__cart {
            margin-right: 2rem;
        }
    }
}




// Clases para js del menú desplegable

.jsHide {
    // display: none;
    left: -100%;
}