// Mediaqueries
$bp-small: 390px;
$bp-medium: 900px;
$bp-large: 1440px;
$bp-xlarge: 1920px;

@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}


// REVISAR COMO QUITAR EL NEGRO DE LOS LINKS
a {
    text-decoration: none;
    color: $color-black;
}

a:visited {
    color: $color-black;
}


.topbar {
    display: flex;
    align-items: center;

    margin: 0;
    background-color: $color-bg-beige;
    border-bottom: 2px $color-black solid;

    list-style: none;
    text-transform: uppercase;
    border-bottom: 2px $color-black solid;

    font-size: 1.6rem;

}

.topbar--mobile {
    justify-content: space-between;
    padding: 1.2rem 2rem;


    &__menu {
        background-color: red;
    }

    &__cart {
        background-color: yellow;
    }

    @include mq($bp-medium) {
        //min width 900
        display: none;
    }
}

.topbar--desktop {
    justify-content: space-between;
    padding: 1.6rem 4rem;

    &__nav {
        background-color: orange;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;

        &__item {
            padding: 0 2.4rem;
        }

    }

    @include mq($bp-large) {
        //min width 1440
        padding: 1.6rem 8rem;
        background-color: red;
    }

    @include mq($bp-xlarge) {
        //min width 1920
        padding: 1.6rem 10rem;
        background-color: blue;
    }

    @include mq(899px, max-width) {
        //max width 899
        display: none;
    }
}



