@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}

// revisar estos colores de abajo
a {
  text-decoration: none;
  color: $color-black;
}

a:visited {
  color: $color-black;
}

.topbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  margin: 0;
  background-color: $color-bg-beige;
  border-bottom: 2px $color-black solid;

  list-style: none;
  text-transform: uppercase;
  border-bottom: 2px $color-black solid;

  font-size: 1.6rem;
  z-index: 3
}

.topbar--mobile {
  justify-content: space-between;
  padding: .8rem 2rem;

  &__menu {
    font-size: 1.6rem;
    border: none;
    padding: 0;
  }

  &__logo {
    flex-grow: 1;
  }

  &__cart {
    
  }

  &__nav {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-green;
    opacity: 0.95;
    color: $color-black;
    
    justify-content: center;
    align-items: center;

    list-style: none;
    text-align: center;
    padding: 2.8rem 0;

    position: absolute;
    inset: 0 0 auto 0;
    width: 100vw;
    height: 100vh;

    transition: all .4s ease;



    &__item {
      padding: 3.2rem 0;
      font-size: 4rem;
      font-weight: 300;

      &:hover {
        font-style: italic;
        font-weight: 700;
      }
    }

    
  }

  @include mq($bp-medium) {
    //min width 768
    display: none;
  }
}

.topbar--desktop {
  justify-content: space-between;
  padding: 1.6rem 4rem;

  &__nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;

    &__item {
      padding: 0 2.4rem;
    }
  }

  @include mq($bp-large) {
    //min width 1440
    padding: 1.6rem 8rem;
  }

  @include mq($bp-xlarge) {
    //min width 1920
    padding: 1.6rem 10rem;
  }

  @include mq(767px, max-width) {
    //max width 767
    display: none;
  }
}

// Clases para js del menú desplegable

.jsHide {
  // display: none;
  left: -100%;
}
