@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

p {
  margin: 0;
}

.copy {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
  padding-bottom: 4rem;

  @include mq($bp-large) {
    padding-bottom: 0;
  }
}


// Product sizes for font
.product-detail__description {
  font-size: 2rem;
  padding-bottom: 4rem;

  @include mq($bp-medium) {
    padding-bottom: 6rem;
  }

  @include mq($bp-large) {
    padding-bottom: 8rem;
  }

  @include mq($bp-xlarge) {
    padding-bottom: 10rem;
  }
}

.product-detail__price {
  font-family: $font-primary;
  font-size: 3.6rem;
  padding: 2rem 0;

  @include mq($bp-large) {
    font-size: 4.4rem;
  }

  @include mq($bp-xlarge) {
    font-size: 5.2rem;
  }
}

// Review sizes for fonts

.copy--reviews,
.reviews__item {
  font-size: 2rem;
  font-weight: 300;
  padding-bottom: 2rem;

  &__name {
    font-weight: 700;
    padding: 2rem 0;
  }


}




.font-family--secondary {
  font-family: $font-secondary;
  font-style: italic;
  font-weight: 800;
}



// Implementation for hero's typography
.hero__title {
  font-family: $font-primary;
  font-size: 1.6rem;

}

.hero__subtitle {
  font-size: 2.8rem;
  font-weight: 300;
  padding: 1.6rem 0;

  
}

.hero__text {
  font-family: $font-primary;
  font-size: 2.8rem;
  line-height: 140%;

  @include mq($bp-large) {
    font-size: 3.6rem;
    column-count: 2;
    column-gap: 4rem;
    column-fill: balance;
  }

  @include mq($bp-xlarge) {
    font-size: 4.4rem;
  }
}


//