// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-medium: 48rem; // 768px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px

@mixin mq($bp: $bp-medium, $bp-width: min-width) {
    @media all and ($bp-width: $bp) {
        @content;
    }
}

p {
  margin: 0;
}

.main--p {
  font-size: 2rem;
  padding-bottom: 4rem;

  @include mq($bp-large) {
    padding-bottom: 0;
  }
}

.product-detail__description {
  font-size: 2rem;
  padding-bottom: 4rem;

  @include mq($bp-medium) {
    padding-bottom: 6rem;
  }

  @include mq($bp-large) {
    padding-bottom: 8rem;
  }

  @include mq($bp-xlarge) {
    padding-bottom: 10rem;
  }
}

.product-detail__price {
  font-family: $font-primary;
  font-size: 3.6rem;
  padding: 2rem 0;

  @include mq($bp-large) {
    font-size: 4.4rem;
  }

  @include mq($bp-xlarge) {
    font-size: 5.2rem;
  }
}


.font-family--secondary {
  font-family: $font-secondary;
  font-style: italic;
  font-weight: 800;
}



// Utilities applied to the hero's typography
// esto iria en utilities
.hero__title {
  font-family: $font-primary;
  font-size: 1.6rem;

}

.hero__subtitle {
  font-size: 2.8rem;
  font-weight: 300;
  padding: 1.6rem 0;

  
}

.hero__text {
  font-family: $font-primary;
  font-size: 2.8rem;
  line-height: 140%;

  @include mq($bp-large) {
    font-size: 3.6rem;
    column-count: 2;
    column-gap: 4rem;
    column-fill: balance;
  }

  @include mq($bp-xlarge) {
    font-size: 4.4rem;
  }
}


//