// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-medium: 48rem; // 768px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px


@mixin mq($bp: $bp-medium, $bp-width: min-width) {
  @media all and ($bp-width: $bp) {
    @content;
  }
}


//sFont colors

.color--beige {
    color: $color-beige;

    &:visited {
        color: $color-beige;
    }

}

.color--green {
    color: $color-green;
}

.text-transform--initial {
    text-transform: initial;
}

.font-size-small {
    font-size: $font-size-small;
}


.boder-bottom--solid {
    border: calc($unit-base / 2) solid $color-beige;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}




.text-half-screen {
    @include mq($bp-large) {
        //min width 1440px
        width: 50vw;

    }

}